body {
  min-width: 320px;
  margin: 0 auto;
}
.navbar{
  height: 54px;
  background-color:#434343;
}
.navbar-container {
  width: 100%;
  justify-content: space-between;
}
.top-menu-section{
  box-shadow:   0 5px 5px rgba(0,0,0,0.05), 0 5px 5px rgba(0,0,0,0.15);
}
.navbar-nav{
  height: 85px;
}
.nav-item{
  margin-right: 30px;
  color: white;
}
.nav-item:last-child{
  margin-right: 0;
  text-align: left;
}
.navbar a {
  text-decoration: none;
  color:white;
}
.navbar a:hover {
  border-bottom: 1px solid white;
}
.form-control{
  border-radius: 0;
}
.btn-primary{
  width: 115px;
  height: 42px;
  background-color: #2a2a2a;
  color:white;
  border-color:transparent;
  box-shadow:   0 5px 5px rgba(0,0,0,0.05), 0 4px 3px rgba(0,0,0,0.1);
}
.modal-header{
  border-bottom: transparent;
}
.modal-body input{
  height: 51px;
}
.modal-header .close{
  background-color:#2a2a2a;
  opacity: 1;
  width: 40px;
  height: 40px;
}
.fa-times{
  display: block;
  height: 33px;
  width: 13px;
  color:white;
  padding-bottom: 20px;
}
.modal-title{
  color:#2a2a2a;
  margin-bottom: 31px;
}
.close-text{
  display: block;
  height: 13px;
  width: 13px;
  line-height: 1px;
  padding-right: 20px;
  margin-top: -10px;
  margin-left: -2px;
}
.modal-body{
  width: 456px;
  padding: 21px 46px 34px 46px;
}
.modal-content{
  width: 457px;
  border-radius: 0;
  box-shadow:   0 5px 5px rgba(0,0,0,0.05), 0 3px 2px rgba(0,0,0,0.15);
}
.modal-open{
  background: #666c75;//0.69
}
@media all and (min-width:769px){
  .header-block{
    max-width: 100%;
    width: 100%;
  }
 }

@media (min-width: 576px) and (max-width:768px){
  .navbar{
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 25px;
  }
  .row{
      max-width: 100%;
  }
}

@media (min-width: 360px) and (max-width: 575px){
  .navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav-item{
    display: block;
    margin-right: 10px;
  }
  .row{
    max-width: 100%;
    justify-content: space-between;
  }
  .modal-body{
    width: 380px;
    padding: 0 20px 10px 20px;
  }
  .modal-title{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .modal-content{
    width: 400px;
    margin-left: 13%;
    margin-top: 5%;
  }
}